* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin-top: 10rem;
    margin-left: 40rem;
    position: relative;
}

.input-box {
    width: 26rem;
    height: 2.9rem;
    font-size: 1.6rem;
    padding: 1.8rem;
    border-radius: 2px;
    /* border: 1px; */
}

.btn {
    width: 5rem;
    height: 3.7rem;
    margin-left: 1rem;
    font-size: 20px;
    border-radius: 20px;
}

ul {
    list-style-type: none;
    position: relative;
}

.sp {
    position: absolute;
    margin-left: 25rem;
    margin-bottom: 200rem;

}

.delete {
    position: absolute;
    padding: 7px;
    width: 2.1rem;
    height: 2.3rem;
    font-weight: 900;
    border-radius: 50%;
    background-color: red;
    color: #fff;
    margin-left: 11rem;
}

.complete {
    padding: 7px;
    width: 2.1rem;
    height: 2.3rem;
    font-weight: 900;
    border-radius: 50%;
    background-color: green;
    color: #fff;
    margin-left: 14rem;
}

.lists {
    padding: 10px;
    font-size: 1.9rem;
}
